@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
:root{
  --blue-color: #292361;
  --dark--blue-color: #544F81
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
