.task{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 2.5%;
    border: 2px solid #F1F1F1;
    border-radius: 30px;
    text-align: center;
}

.task__title{
    font-size: 18px;
}

.task__date{
    margin: 15px 0;
}

.task__confirmation{
    margin-bottom: 5px;
    border-bottom: 1px solid;
}

.task__btns button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
}
button .fas{
    margin-right: 4px;
}
.fa-check-circle{
    font-size: 18px;
    color: green
}
.fa-times{
    font-size: 18px;
    color: rgb(175, 0, 0)
}
@media(min-width: 1024px){
    .task{
        flex-basis: 28%;
    }
}